---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getThemeDataArray } from '../../utils/data';
import CountChart from '../../components/svelte/charts/count/CountChart.svelte';
import CountNewChart from '../../components/svelte/charts/count/CountNewChart.svelte';
import CountRemovedChart from '../../components/svelte/charts/count/CountRemovedChart.svelte';
import RemovedByReleaseChart from '../../components/svelte/charts/count/RemovedByReleaseChart.svelte';
import { ItemType } from '../../utils/misc';

const data = await getThemeDataArray();
const view = data.view();

const countDataPoints = view.monthly_count(data);
const retiredByMonthDataPoints = view.removed_by_release_month(data);
---

<StarlightPage
	frontmatter={{
		title: 'Community Theme List',
		description: `Changes in the themes on the community theme list.`,
	}}
	headings={[
		{ depth: 2, text: 'Theme Count', slug: 'theme-count' },
		{ depth: 2, text: 'New Themes', slug: 'new-themes' },
		{ depth: 2, text: 'Removed Themes', slug: 'removed-themes' },
	]}
>
	<p>
		The community theme list is the list of community themes which are directly downloadable from within Obsidian. This page tracks the number of total themes
		on the list, as well as changes to the list over time.
	</p>

	<h2 id="theme-count">Theme Count</h2>

	<p>The following chart shows the total number of themes available in the community theme list.</p>

	<CountChart dataPoints={countDataPoints} type={ItemType.Theme} client:idle />

	<h2 id="new-themes">New Themes</h2>

	<p>
		This shows how many new themes have been added to the community theme list each month. The dashed gray line is the raw data and the blue line has been
		smoothed.
	</p>

	<CountNewChart dataPoints={countDataPoints} type={ItemType.Theme} client:idle />

	<h2 id="removed-themes">Removed Themes</h2>

	<p>
		This shows how many themes have been removed from the community theme list each month. The dashed gray line is the raw data and the blue line has been
		smoothed.
	</p>

	<CountRemovedChart dataPoints={countDataPoints} type={ItemType.Theme} client:idle />

	<p>This shows what percentage of themes, sorted by their release month, have been removed from the community theme list.</p>

	<RemovedByReleaseChart dataPoints={retiredByMonthDataPoints} type={ItemType.Theme} client:idle />
</StarlightPage>
