---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getPluginDataArray } from '../../utils/data';
import PluginCountChart from '../../components/newSvelte/charts/pluginCount/PluginCountChart.svelte';
import PluginCountNewChart from '../../components/newSvelte/charts/pluginCount/PluginCountNewChart.svelte';
import PluginCountRemovedChart from '../../components/newSvelte/charts/pluginCount/PluginCountRemovedChart.svelte';
import PluginRemovedByReleaseChart from '../../components/newSvelte/charts/pluginCount/PluginRemovedByReleaseChart.svelte';

const data = await getPluginDataArray();
const view = data.view();

const countDataPoints = view.monthly_plugin_count(data);
const retiredByMonthDataPoints = view.removed_by_release_month(data);

---

<StarlightPage
	frontmatter={{
		title: 'Community Plugin List',
		description: `Changes in the plugins on the community plugin list.`,
	}}
	headings={[
		{ depth: 2, text: 'Plugin Count', slug: 'plugin-count' },
		{ depth: 2, text: 'New Plugins', slug: 'new-plugins' },
		{ depth: 2, text: 'Removed Plugins', slug: 'removed-plugins' },
		{ depth: 2, text: 'Mismatched Data', slug: 'mismatched-data' },
	]}
>
	<p>
		The community plugin list is the list of community plugins which are directly downloadable from within Obsidian. This page tracks the number of total
		plugins on the list, as well as changes to the list over time.
	</p>

	<h2 id="plugin-count">Plugin Count</h2>

	<p>The following chart shows the total number of plugins available in the community plugin list.</p>

	<p><PluginCountChart dataPoints={countDataPoints} client:only="svelte" /></p>

	<h2 id="new-plugins">New Plugins</h2>

	<p>This shows how many new plugins have been added to the community plugin list each month. The dashed gray line is the raw data and the blue line has been smoothed.</p>

	<p><PluginCountNewChart dataPoints={countDataPoints} client:only="svelte" /></p>

	<!-- <p>This is a list of the most recently added plugins.</p> -->

	<!-- <table>
		<thead>
			<tr>
				<th>Plugin</th>
				<th>Release Date</th>
			</tr>
		</thead>
		<tbody>
			{
				pluginAddedRecentList.map(x => (
					<tr>
						<td>
							<PluginLink id={x.id} />
						</td>
						<td>
							<Commit commit={x.addedCommit} />
						</td>
					</tr>
				))
			}
		</tbody>
	</table> -->

	<h2 id="removed-plugins">Removed Plugins</h2>

	<p>This shows how many plugins have been removed from the community plugin list each month. The dashed gray line is the raw data and the blue line has been smoothed.</p>

	<p><PluginCountRemovedChart dataPoints={countDataPoints} client:only="svelte" /></p>

	<p>This shows what percentage of plugins, sorted by their release month, have been removed from the community plugin list.</p>

	<p><PluginRemovedByReleaseChart dataPoints={retiredByMonthDataPoints} client:only="svelte" /></p>

	<!-- <p>This is a list of the most recently removed plugins.</p> -->

	<!-- <table>
		<thead>
			<tr>
				<th>Plugin</th>
				<th>Removed Date</th>
			</tr>
		</thead>
		<tbody>
			{
				pluginRemovedRecentList.map(x => (
					<tr>
						<td>
							<PluginLink id={x.id} />
						</td>
						<td>
							<Commit commit={x.removedCommit} />
						</td>
					</tr>
				))
			}
		</tbody>
	</table> -->

	<h2 id="mismatched-data">Mismatched Data</h2>

	<p>
		Mismatched manifest and community listing data by release month. It seems that <strong>a lot</strong> of plugins have mismatched manifest and community listing
		data. It seems like forgetting to update the other when updating one is a common mistake.
	</p>

	<!-- <div>
		<BarChart
			dataPoints={warningsByReleaseMonth.map(x => x.warningPercent['mismatched-manifest-data'])}
			labels={warningsByReleaseMonth.map(x => x.month)}
			logScale={false}
			calculatePrecentages={true}
			seriesName="missmatched data"
			showXLabels={true}
			client:only="svelte"
		/>
	</div> -->
</StarlightPage>
