---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getPluginDataArray } from '../../utils/data';
import CountChart from '../../components/svelte/charts/count/CountChart.svelte';
import CountNewChart from '../../components/svelte/charts/count/CountNewChart.svelte';
import CountRemovedChart from '../../components/svelte/charts/count/CountRemovedChart.svelte';
import RemovedByReleaseChart from '../../components/svelte/charts/count/RemovedByReleaseChart.svelte';
import { ItemType } from '../../utils/misc';

const data = await getPluginDataArray();
const view = data.view();

const countDataPoints = view.monthly_count(data);
const retiredByMonthDataPoints = view.removed_by_release_month(data);
---

<StarlightPage
	frontmatter={{
		title: 'Community Plugin List',
		description: `Changes in the plugins on the community plugin list.`,
	}}
	headings={[
		{ depth: 2, text: 'Plugin Count', slug: 'plugin-count' },
		{ depth: 2, text: 'New Plugins', slug: 'new-plugins' },
		{ depth: 2, text: 'Removed Plugins', slug: 'removed-plugins' },
	]}
>
	<p>
		The community plugin list is the list of community plugins which are directly downloadable from within Obsidian. This page tracks the number of total
		plugins on the list, as well as changes to the list over time.
	</p>

	<h2 id="plugin-count">Plugin Count</h2>

	<p>
		The following chart shows the total number of plugins available in the community plugin list, as well as the total amount of plugins that were ever
		available.
	</p>

	<CountChart dataPoints={countDataPoints} type={ItemType.Plugin} client:idle />

	<h2 id="new-plugins">New Plugins</h2>

	<p>
		This shows how many new plugins have been added to the community plugin list each month. The dashed gray line is the raw data and the blue line has been
		smoothed.
	</p>

	<CountNewChart dataPoints={countDataPoints} type={ItemType.Plugin} client:idle />

	<h2 id="removed-plugins">Removed Plugins</h2>

	<p>
		This shows how many plugins have been removed from the community plugin list each month. The dashed gray line is the raw data and the blue line has been
		smoothed.
	</p>

	<CountRemovedChart dataPoints={countDataPoints} type={ItemType.Plugin} client:idle />

	<p>This shows what percentage of plugins, sorted by their release month, have been removed from the community plugin list.</p>

	<RemovedByReleaseChart dataPoints={retiredByMonthDataPoints} type={ItemType.Plugin} client:idle />
</StarlightPage>
