---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import HallOfFameChart from '../../components/svelte/charts/misc/HallOfFameChart.svelte';

const YEARS = [2026, 2025, 2024, 2023, 2022, 2021, 2020];
---

<StarlightPage
	frontmatter={{
		title: 'Plugin Hall of Fame',
		description: `The top 10 plugins in multiple categories.`,
	}}
	headings={YEARS.map(year => ({ depth: 2, text: String(year), slug: String(year) }))}
>
	<h3>Most Downloaded</h3>

	<HallOfFameChart dataUrl="/obsidian-stats/data/plugins/stats/hall-of-fame/full.json" showDots={false} client:idle />

	{
		YEARS.map(year => (
			<>
				<h2 id={String(year)}>{year}</h2>

				<h3>Most Downloaded</h3>

				<HallOfFameChart dataUrl={`/obsidian-stats/data/plugins/stats/hall-of-fame/${year}.json`} showDots={true} client:idle />

				<h3>Most Downloaded New Plugins</h3>

				<HallOfFameChart dataUrl={`/obsidian-stats/data/plugins/stats/hall-of-fame/${year}-new.json`} showDots={true} client:idle />
			</>
		))
	}
</StarlightPage>
