---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getPluginDataArray } from '../../utils/data';
import HallOfFameChart from '../../components/svelte/charts/HallOfFameChart.svelte';

let dataArray = await getPluginDataArray();
let view = dataArray.view();
---

<StarlightPage
	frontmatter={{
		title: 'Plugin Hall of Fame',
		description: `The top 5 plugins in multiple categories.`,
	}}
	headings={[
		{ depth: 2, text: '2025 (Preliminary)', slug: '2025' },
		{ depth: 2, text: '2024', slug: '2024' },
		{ depth: 2, text: '2023', slug: '2023' },
		{ depth: 2, text: '2022', slug: '2022' },
		{ depth: 2, text: '2021', slug: '2021' },
		{ depth: 2, text: '2020', slug: '2020' },
	]}
>
	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, null, false)} client:only="svelte" />

	<h2 id="2025">2025 (Preliminary)</h2>

	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2025, false)} showDots={true} client:only="svelte" />

	<h3>Most Downloaded New Plugins of 2025</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2025, true)} showDots={true} client:only="svelte" />

	<h2 id="2024">2024</h2>

	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2024, false)} showDots={true} client:only="svelte" />

	<h3>Most Downloaded New Plugins of 2024</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2024, true)} showDots={true} client:only="svelte" />

	<h2 id="2023">2023</h2>

	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2023, false)} showDots={true} client:only="svelte" />

	<h3>Most Downloaded New Plugins of 2023</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2023, true)} showDots={true} client:only="svelte" />

	<h2 id="2022">2022</h2>

	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2022, false)} showDots={true} client:only="svelte" />

	<h3>Most Downloaded New Plugins of 2022</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2022, true)} showDots={true} client:only="svelte" />

	<h2 id="2021">2021</h2>

	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2021, false)} showDots={true} client:only="svelte" />

	<h3>Most Downloaded New Plugins of 2021</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2021, true)} showDots={true} client:only="svelte" />

	<h2 id="2020">2020</h2>

	<h3>Most Downloaded</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2020, false)} showDots={true} client:only="svelte" />

	<h3>Most Downloaded New Plugins of 2020</h3>

	<HallOfFameChart data={view.most_downloaded(dataArray, 10, 2020, true)} showDots={true} client:only="svelte" />
</StarlightPage>
