---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import PluginLink from '../../components/PluginLink.astro';
import { getPluginDataArray } from '../../utils/data';

const data = await getPluginDataArray();
const view = data.view();

const milestoneDataArray = view.calculate_milestones(data);
---

<StarlightPage
	frontmatter={{
		title: 'Plugin Milestones',
		description: `Major milestones in the plugin ecosystem.`,
	}}
>
	<p>
		This page tracks major milestones in the Obsidian plugin ecosystem. This includes the number of plugins listed on the community plugin list, the total
		number of downloads for all plugins, and the number of releases and downloads for individual plugins. Milestones are attributed to the months in which they
		are reached, as not all data is available on a daily basis.
	</p>

	<div class="timeline">
		{
			milestoneDataArray.map(group => (
				<div class="timeline-group">
					<h3 class="timeline-group-heading">{group.month}</h3>
					<div class="timeline-group-content">
						{group.milestones.map(m => {
							if (m.milestone_type === 'total-downloads') {
								return (
									<div class="timeline-element">
										<h4 class="timeline-element-heading">Total plugin downloads reach {m.milestone_value.toLocaleString()}</h4>
										<p>The number of downloads for all plugins listed on the community plugin list reached {m.milestone_value.toLocaleString()}.</p>
									</div>
								);
							} else if (m.milestone_type === 'plugin-count') {
								return (
									<div class="timeline-element">
										<h4 class="timeline-element-heading">Total plugin count reaches {m.milestone_value.toLocaleString()}</h4>
										<p>The number of plugins listed on the community plugin list reached {m.milestone_value.toLocaleString()}.</p>
									</div>
								);
							} else if (m.milestone_type === 'release-count') {
								return (
									<div class="timeline-element">
										<h4 class="timeline-element-heading">First plugin reaches {m.milestone_value.toLocaleString()} releases</h4>
										<p>
											<PluginLink id={m.plugin_id} /> is the first plugin to reach {m.milestone_value.toLocaleString()} releases.
										</p>
									</div>
								);
							} else if (m.milestone_type === 'download-count') {
								return (
									<div class="timeline-element">
										<h4 class="timeline-element-heading">First plugin reaches {m.milestone_value.toLocaleString()} downloads</h4>
										<p>
											<PluginLink id={m.plugin_id} /> is the first plugin to reach {m.milestone_value.toLocaleString()} downloads.
										</p>
									</div>
								);
							}
						})}
					</div>
				</div>
			))
		}
	</div>
</StarlightPage>
